*{
 
}
body{

    padding: 10px 10% 0 10%;
    background: url("image/space2.jpg");
    background-size:  cover;

}
header{
    background: url("image/fondo5.png");
    width: 90%;
    height: 219px;
    text-align: center;
    font-family: Arial;
    font-size: 80%;
    padding-top: 21px;
    padding-left: 12%;
    background-size: cover;
}
.intro header{

    color: #210B61;
    font-size: 150%;
}

h1,h2
{
    margin-top: 3%;
    font-weight: 20px;
    transition: all 3s;
    font-family:  'Tangerine';
    text-shadow: 4px 4px 4px #aaa;
    font-size: 60px;

}
h1:hover{
    font-size: 50px;
    color:black;

}

.summary{
    background-color:#2E2E2E;
     border-radius: 10px;
     width: 300px;
     height: 300px;
     display: inline-table;
     text-align: center;
     margin:auto;
     font-family:  'Tangerine';
     font-size: 45px;
     color: #DF01D7;
     opacity: 0.5;
     font-weight: bold;
}
.preamble{
    background-color:#2E2E2E;
     border-radius: 10px;
     width: 650px;
     height: 300px;
     display: inline-table;
     text-align: center;
    font-family:  'Tangerine';
    font-size: 30px;
    color:#81F7F3;
    opacity: 0.5;
     font-weight: bold;
}
.main.supporting{
    opacity: 0.8;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 20px;

   
}

.participation ,.benefits, .requirements, .explanation{

    background-color: black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    color: aqua;
    padding-bottom: 10px;
    border-radius: 10px;
}

.wrapper {
    display: block;
    background-color:  #ff994f;
    width: 811px;
    margin: auto;
    margin-top: 30px;
}

.wrapper div {
    display: inline-block;
    width:  270px;
    text-align: top;
}

.wrapper div h3{
    text-align: center;
}

.wrapper div nav{
    display: none;
    background-color: #ff994f;
}

.wrapper .design-selection h3:hover  + nav{
    display:  block;
    position: absolute;
    margin-top: -270px;
    animation-duration: 2s;
    width: 270px;
}

.wrapper .design-archives h3:hover  + nav{
    display:  block;
    position: absolute;
    margin-top: -127px;
    animation-duration: 2s;
    width: 270px;
}

.wrapper .zen-resources h3:hover  + ul{
    display:  block;
    position: absolute;
    margin-top: -150px;
    animation-duration: 2s;
    width: 222px;
}

.wrapper div.zen-resources {
    width: 260px;
}
.wrapper div.zen-resources ul{
    display: none;
    background-color: #ff994f;
}
